#nav {
  background-color: fade-out($gray-darker, 0.3);
  position: fixed;
  z-index: 20;
  height: 4rem;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all $tspeed;
  .fixer {
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
  }
  .nav-content {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    padding: 0 1rem;
    height: 100%;
    .nav-section {
      display: flex;
    }
    .nav-item {
      white-space: nowrap;
      padding: 0 $spacing1;
      margin: auto 0;
      color: $white-ish;
      transition: all $tspeed;
      font-weight: $bold;
      &:is(a):hover {
        transition: all $tspeed;
        color: darken($white-ish, 15%);
      }
    }
    a {
      text-decoration: none;
    }
  }
  &.transparent {
    background-color: transparent;
  }
}
