.button {
  @extend .is-text-bold;
  position: relative;
  display: inline-block;
  background-color: #edf2ef;
  color: $gray;
  text-decoration: none;
  transition: all $tspeed;
  border-radius: 12px;
  padding: 1rem;
  border: 2px solid $gray;
  font-family: inherit;

  &:not(:disabled) {
    cursor: pointer;
  }
  // &::after {
  //   opacity: 0;
  //   content: "";
  //   background-color: $gray-darker;
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   left: 5px;
  //   top: 5px;
  //   z-index: -2;
  // }
  &:hover {
    background-color: #d9dfdc;
    color: $gray;
    transition: all $tspeed;
    &::after {
      opacity: 1;
      transition: all $tspeed;
    }
  }
  &.taw-primary {
    background-color: $flavor2;
    color: $white-ish;

    &:hover {
      background-color: lighten($flavor2, 5);
    }
  }
  &.inverted {
    background-color: transparent;
    color: $white-ish;
    border-color: $white-ish;

    &:hover {
      background-color: hsl(154, 14%, 19%);
    }
  }
}
